section{
    flex: 1;
    width: 100%;
}

.nombreSeccion{
    padding-top: 80px;
    background: url(/ImagenesMikuy/Fondo\ Comidas.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

h1{
    text-align: center;
    color: #fff;
    line-height: 100px;
    font-size: 3.5em;
}

.publicacionesPrincipales{
    width: 100%; 
    /* height: 575px;  */
    position: relative;
    padding: 3ch;
}

.portadaPrincipal{
    margin-left: 20px;
    width: 45%; 
    height: 500px; 
    left: 0px; 
    top: 0px; 
    position: relative; 
    background: url(/ImagenesMikuy/Fondo\ Comidas.png); 
    border-radius: 15px
}

.publicacion{
    width: 50%;
    height: 160px;
    left: 50%;
    position: absolute;
}

.portada{
    width: 30%;
    height: 95%;
    left: 0px;
    position: absolute;
    border-radius: 15px;
    top: 20px;
}

.descripcion{
    width: 65%;
    height: 45px;
    left: 35%;
    position: absolute;
    top: 30px;
}

#publicacion1{
    top: 0px;
}

#portada1{
    background: url(/ImagenesMikuy/Locro\ de\ papas\ 1.jpg);
    background-size: 100%;
}

#publicacion2{
    top: 170px;
}

#portada2{
    background: url(/ImagenesMikuy/Encebollado\ 1.png);
    background-size: 100%;
}

#portada3{
    background: url(/ImagenesMikuy/Gallinas\ Pinllo\ 2.png);
    background-size: 100% 100%;
}

#publicacion3{
    top: 340px;
}

h2{
    font-size: 2vmax;
    font-family: Microsoft YaHei UI;
    font-weight: 700;
    word-wrap: break-word;
}
p{
    font-size: 1.5vmax;
    font-family: Microsoft YaHei UI;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 3vmax;
}

.tarjetaPublicaciones{
/*     margin-top: 50px;
    width: 100%;
    height: 601px;
    position: relative; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.tarjeta{
    /*width: 30%;
    height: 601px;
    position: relative; */
    width: 100%;
    height: auto;
    top: 1px;
    background: #D9D9D9;
    border-radius: 15px;
    margin-top: 50px;
}

.tarjetaPortada{
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #007AC2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tarjetaDescripcion{
    margin: 20px;
}

.tarjetaDescripcion h2{
    text-align: center;
}

.tarjetaDescripcion p{
    text-align: justify;
}

/*Responsive Tableta*/
@media (max-width: 952px){
    .nombreSeccion{
        margin-top: 80px;
    }
    .portadaPrincipal{
        display: none;
    }
    .publicacionesPrincipales{
        height: 1100px;
    }
    .portadaPrincipal{
        width: 100%;
    }
    .publicacion{
        left: 10%;
        width: 100%;
    }
    .descripcion{
        width: 50%;
    }
    .tarjetaPublicaciones{
        position: relative;
        top: 470px;
    }
}

/*Responsive Celular*/
@media (max-width: 858px){
    .tarjetaPublicaciones{
        grid-template-columns: 1fr;
    }
}