.nombreSeccion{
    padding-top: 80px;
    background: url(/ImagenesMikuy/Fondo\ Comidas.png) no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 200px;
}

.portadaPrincipal{
    background: url(/ImagenesMikuy/Fondo\ Comidas.png);
    background-size: cover;
    border-radius: 15px;
    text-align: center;
}

#portada1{
    background: url(/ImagenesMikuy/Locro\ de\ papas\ 1.jpg);
    background-size: cover;
}

#portada2{
    background: url(/ImagenesMikuy/Encebollado\ 1.png);
    background-size: cover;
}

#portada3{
    background: url(/ImagenesMikuy/Gallinas\ Pinllo\ 2.png);
    background-size: cover;
}

#portadaTarjeta1{
    background: url(/ImagenesMikuy/Helados_1.jpg);
    background-size: cover;
}

#portadaTarjeta2{
    background: url(/ImagenesMikuy/PanPinllo_1.jpg);
    background-size: cover;
}

#portadaTarjeta3{
    background: url(/ImagenesMikuy/Cuy\ 3.jpg);
    background-size: cover;
}