.tituloPublicacion{
    padding-top: 80px;
    background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.6)), url(/ImagenesMikuy/Pailon\ del\ Diablo\ 3.jpg);
    background-size: cover;
    background-position: fixed;
    height: 200px;
}

h1{
    text-align: center;
    color: #fff;
    line-height: 100px;
    font-size: 3.5em;
}

.calificacion{
    padding: 2% 10%;
}

.calificacion p{
    color: #E09100;
}

.contenido{
    padding-left: 10%;
    padding-right: 10%;
}

.fotos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2%;
    height: 300px;
    padding: 2% 10%;
}

#foto1{
    border-radius: 15px;
    background: url(/ImagenesMikuy/Pailon\ del\ Diablo\ 1.jpg);
    background-size: cover;
}
#foto2{
    border-radius: 15px;
    background: url(/ImagenesMikuy/Pailon\ del\ Diablo\ 2.jpg);
    background-size: cover;
}
#foto3{
    border-radius: 15px;
    background: url(/ImagenesMikuy/Pailon\ del\ Diablo\ 3.jpg);
    background-size: cover;
}

.califica{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.seguirLeyendo{
    padding-left: 10%;
}

.seguirLeyendo h2{
    font-size: 2em;
}

.tarjetaPublicaciones{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2%;
    padding: 1% 10%;
}

.tarjeta{
    width: 100%;
    top: 1px;
    background: #D9D9D9;
    border-radius: 15px;
}

.tarjetaPortada{
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #007AC2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



.tarjetaDescripcion{
    margin: 20px;
}

.tarjetaDescripcion h2{
    text-align: center;
}

.tarjetaDescripcion p{
    text-align: justify;
}

.califica .estrellas input{
    display: none;
}

.estrellas label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    transition: all 0.2s ease;
}

input:not(:checked) label:hover,
input:not(:checked) label:hover label{
    color: #fd4;
}

input::checked label{
    color: #fd4;
}

input#5-estrellas:checked label{
    color: #fe7;
    text-shadow:  0 0 20px #952;
}

input:checked form{
    display: block;
}