@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima&family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

section {
    background-image: url(/ImagenesMikuy/Fondo\ Mapa.jpg);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}



#registrar {
    text-align: center;
    width: 150px;
    height: 50px;
    border-radius:15px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    background: #007ac2;
    box-shadow: inset 0 0 0 0 #fff;
    border: 1px solid transparent;
    cursor: pointer;
    transition: .3s ease-in;
}

#registrar:hover {
    border: 1px solid transparent;
    box-shadow: inset 300px 0 0 0 #fff;
    color: #007ac2;
}

.square {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 130px;
    padding: 40px 20px;
    width: 75%;
    background-color: #fff;
    column-gap: 40px;
    border-radius: 25px;
    margin-bottom: 50px;
    align-items: center;
}

#registro {
    width: 100%;
} 

#cuenta {
    text-align: center;
    padding-right: 12px;
    font-weight: bold;
    font-size: 45px;
    font-family: 'Arima', display;
}

.textoCampos {
    margin-left: 10px;
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 6px;
}

.campos {
    padding-left: 10px;
    width: 95%;
    height: 35px;
    margin-bottom: 15px;
    border-color: #dbd9d9;
    border-style: solid;
    border-width: 1px;
    outline: none;
    border-radius: 10px;
}


@media (max-width: 980px) {

/*     section {
        background-image: url(/ImagenesMikuy/Fondo\ Mapa.jpg);
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: center;
        height: 1980px;
    } */

    .square {
        grid-template-columns: repeat(2, 1fr);
    }

    #registro {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .square {
        grid-template-columns: 1fr;
        margin-top: 190px;
    }
    #columnIzq{
        display: none;
    }
}