.nombreSeccion{
    padding-top: 80px;
    background: url(/ImagenesMikuy/Redaccion2.jpg) no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 200px;
}

.portadaPrincipal{
    background: url(/ImagenesMikuy/Redaccion3.png);
    background-size: cover;
    border-radius: 15px;
    text-align: center;
}

#portada1{
    background: url(/ImagenesMikuy/La\ Fornace\ 1.jpg) no-repeat;
    background-size: cover;
}

#portada2{
    background: url(/ImagenesMikuy/Estacion\ cientifica\ 2.jpg);
    background-size: cover;
}

#portada3{
    background: url(/ImagenesMikuy/Delicias\ Cuencanas\ 2.jpg);
    background-size: cover;
}

#portadaTarjeta1{
    background: url(/ImagenesMikuy/Colada\ morada\ 2.jpg);
    background-size: cover;
}

#portadaTarjeta2{
    background: url(/ImagenesMikuy/Volcan\ Cotopaxi.jpg);
    background-size: cover;
}

#portadaTarjeta3{
    background: url(/ImagenesMikuy/Playa\ 2.jpg);
    background-size: cover;
}